

body { padding: 0; margin: 0; height: 100%; }
html, #map { height: 100%; }
#input-mask-header {
  background-image: none;
}
h3 { margin: 0; }

h4 { margin-top: 0; margin-left: 0; }

h4 {
  font-weight:normal;
  font-style:italic;
}

#gui-language-toggle,#styled-select-gui-language-toggle {
    display:none;
}

#main-wrapper {
    width: 345px;
    max-width: 20%;
    /*left: 0 !important;*/
    top:0;
    background:none;
}

#main-input,#main-output {
    margin-left:-5px;
    margin-top:0;
    margin-right:0;
    /*padding-right:0;*/
    border-radius:0;
    border-right: 1px solid #ccf;
}
#main-input { 
    /*width: 320px;*/
    width: 90%;
    background:hsla(240,15%,88%,0.8);
}
#main-output {
    /*width: 330px;*/
    width: 95%;
    padding: 0;
    top:150px;
    border-bottom: 1px solid #ccf;
    background:hsla(240,15%,90%,0.6);
}

#information-box { 
    width:275px; 
    margin: 0;
    margin-top:1em;
    
}

.description-body-item {
  font-size:8px;
}

.input-label {
    display:none;
}

/*.center.stretch .input-box { width: 115%; }
*/
.button {
    background:none;
    border:none;
    padding:0;
}

#main-toggle {
    top: 2px;
    /*left: 22%;*/
    /*position:absolute;*/
}

#input-mask { margin: 0; }
#input-mask-header h4 { height: 0px; }

#information-box-header .header-subtitle {
    margin-left:0;
    font-size: 10px;
    color:black;
}

#information-box-header .header-title {
    color:transparent; /* We can't hide it because it contains .header-subtitle */
    font-size:0px;
}

.header-label {
    display:none !important; /* "Distance: ... Time: ..." */
}

@media only screen and (max-device-width : 1024px) {
  /*h3 { background: red; } */
  .leaflet-right { a.gui-control, a.gui-control-inactive { padding: 0 !important; } }
  #gui-search-source, #gui-search-target { display: none; }
}

.leaflet-right .leaflet-control {
  margin-right: 0;
}

.leaflet-top .leaflet-control{
  margin-top: 0;
}
.leaflet-left .leaflet-control {
  margin-left: 0;
}

.leaflet-left .leaflet-control { top: 0 !important; }

.leaflet-left .leaflet-control.box-wrapper { 
  left: 280px !important; 
}

a.gui-zoom-in, a.gui-zoom-out {
  margin: 0;
  padding: 10px;
  border-radius: 0;
}

.gui-locations-route, .gui-locations-route-inactive { display: none; }

/*.input-marker > div { min-width: 100px; }
*/



#input-mask .full, 
#input-mask .input-marker { display: block; } 
#input-mask .left, 
#input-mask .center, 
#input-mask .right { display: inline-block; float:left;}
  /*.input-marker { display: block */



/* Elevation charts */
#chart-box {
  position:absolute;
  left:30%;
  width:40%;
  height:100px;
  bottom: 0%;
  margin:2em;
  margin-bottom:3em;
  background:hsla(60,20%,90%,0.6);
  border: 1px solid gray;
  box-shadow: 2px 2px 4px 0px #777;
  display:none;
}

#chart {
/*max-height: 200px;*/
}

path.c3-line-Elevations {
  stroke: hsl(0,50%,50%) !important;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-antialiasing:true;

}